# Ignore Python virtual environment
.venv/
chroma.db/
uploads/
temp.py
.gitignore

# Ignore environment variable files
.env

# Bytecode cache
__pycache__/
*.py[cod]

# VS Code settings (optional)
.vscode/