groq  
langchain-groq  
langchain-google-genai  
google-generativeai
pypdf 
pdf2image  
langchain_chroma
faiss-cpu  
sentence-transformers 
scholarly  
pyzotero 
arxiv 
langchain_community
tavily-python
streamlit
streamlit-chat
streamlit-file-browser
pytesseract
beautifulsoup4
