langchain_community
groq  
langchain-groq  
langchain-google-genai  
google-generativeai
tavily-python
beautifulsoup4
pytesseract
pdf2image  
pypdf 
faiss-cpu  
langchain_chroma
sentence-transformers 
pyzotero 
arxiv 
scholarly  
streamlit
streamlit-chat
streamlit-file-browser
